{% extends "base.html" %}
{# This error page still uses my main base.html for the overall layout like the header and footer. #}

{% block title %}Error - AirKicks{% endblock %}
{# Setting a clear title for the browser tab so the user knows it's an error page on my site. #}

{% block content %}
<div class="container text-center" style="padding: 4rem 1rem;">
    {# I used a container and text-center to make the error message look neat and centered
       and the padding gives it some space from the edges. #}
    <h1>
        An Error Occurred
    </h1>
    {# A general heading to let the user know something went wrong #}

    {% if error and error.code %}
        <h2>
            Error {{ error.code }}
        </h2>
        {# If my Flask app passes an error object with a code then i display it here to be a bit more specific about the error. #}
    {% endif %}
    {# This 'if' block makes sure the error code only shows up if it's actually available. #}

    <p>
        {% if error and error.description %}
            {{ error.description }}
            {# If Flask provides a description for the error I show that to the user. #}
        {% else %}
            We're sorry, but an unexpected error has occurred.
            {# If there's no specific description, I just put a generic apology. #}
        {% endif %}
    </p>
    {# This paragraph displays either the specific error message from Flask or a default one. #}

    <p>
        <a href="{{ url_for('home') }}" class="button">
            Go to Homepage
        </a>
    </p>
    {# I added a button that links back to the homepage and used my general 'button' class for styling. #}
</div>
{# This div wraps all the error information and centers it on the page. #}
{% endblock %}